.mainInfo{
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-between;
  margin: 0 40px;
  .description{
    width: 50%;
  }
  img{
    width: 30vw;
    height: 70vh;
  }
  a{
    color: white;
  }
}