.similarFilms{
  height: 39vh;
  display: flex;
  justify-content: space-around;
}
.similarFilmsContainer{
  color: white;
  .similarFilm{
    width: 20vw;
    img{
      height: 30vh;
    }
    p{
      margin: 5px 0;
    }
  }
}
