.similarFilms{
  height: 39vh;
  display: flex;
  justify-content: space-around;
}
.similarFilmsContainer{
  color: white;
  .similarFilm{
    width: 11vw;
    &:hover{
      cursor: pointer;
    }
    img{
      width: 11vw;
      height: 30vh;
    }
    p{
      margin: 5px 0;
    }
  }
}
